/usr/bin/ydotoold
[Unit]
Description=Starts ydotoold Daemon

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStartPre=/bin/sleep 2
#Edit the follwing line to replace 1000 with YOUR UID and GID:
ExecStart=/usr/bin/ydotoold --socket-own=1000:1000
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process
TimeoutSec=180

[Install]
WantedBy=basic.target
